Repository FOSWLY/vot-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint-fix, npm run format

.lintstagedrc.json:

{
  "*.{cjs,js,ts,html}": "npm run lint-fix",
  "*.{css,scss,json}": "npm run format"
}

fix: run dist with node
  bun.lock
  changelog.md
  package.json
  src/client.ts
Due: npm run lint-fix, npm run format

ci: fix invalid branch name
  .github/workflows/release.yml
Due: none

feat: removed en only for lively voices (#72)
  bun.lock
  changelog.md
  package.json
  src/config.ts
  src/utils/utils.ts
Due: npm run lint-fix, npm run format

fix(#77): use outdir instead of output arg
  scripts/shells/translate.ps1
Due: none

chore: bump listr2 & removed legacy configs
  .prettierignore
  .prettierrc.json
  bun.lock
  eslint.config.js
  package.json
  src/client.ts
  src/utils/index.ts
Due: npm run lint-fix, npm run format

chore: pin node to 22.19 in package.json
  package.json
Due: npm run format

docs: updated agent instructs
  AGENTS.md
  UPGRADING.md
Due: none

fix: invalid state for failed file downloading in --json and --no-visual
  .github/workflows/release.yml
  bun.lock
  changelog.md
  package.json
  src/client.ts
Due: npm run lint-fix, npm run format

fix: invalid exis code on error in visual mode
  AGENTS.md
  changelog.md
  src/client.ts
  tests/visual-exit.test.ts
Due: npm run lint-fix

feat: implemented error field in json message
  README-EN.md
  README.md
  changelog.md
  src/args.ts
  src/client.ts
  src/index.ts
  tests/json-errors.test.ts
  tests/visual-exit.test.ts
  tsconfig.build.json
Due: npm run lint-fix, npm run format

refactor: split link handle and ui
  changelog.md
  src/client.ts
  src/processor.ts
  tests/json-errors.test.ts
  tests/visual-exit.test.ts
Due: npm run lint-fix

chore: stream audio downloads and limit concurrent URL tasks
  changelog.md
  src/client.ts
  src/processor.ts
  tests/json-errors.test.ts
Due: npm run lint-fix

feat: added send audio for yandex with yt-dlp
  changelog.md
  src/audioUpload.ts
  src/client.ts
  src/processor.ts
  src/resources/messages.ts
  src/resources/phrases.ts
  src/utils/index.ts
  src/ytdlp.ts
  tests/json-errors.test.ts
Due: npm run lint-fix

chore: show better yt-dlp info in version
  README.md
  changelog.md
  src/processor.ts
  src/resources/messages.ts
  src/ytdlp.ts
  tests/json-errors.test.ts
Due: npm run lint-fix

feat: added cookies support for yt-dlp
  README-EN.md
  README.md
  changelog.md
  src/audioUpload.ts
  src/processor.ts
  src/resources/messages.ts
  src/resources/schema.ts
  src/types/schema.ts
  src/ytdlp.ts
  tests/json-errors.test.ts
Due: npm run lint-fix

chore: removed debug logs
  src/audioUpload.ts
  src/processor.ts
  src/utils/index.ts
  tests/json-errors.test.ts
Due: npm run lint-fix

docs: fix typo in note
  README-EN.md
  README.md
  changelog.md
Due: none

docs: replaced static preview image to motion gif
  README-EN.md
  README.md
  img/example.png
  img/promo.gif
Due: none
