Repository FOSWLY/vot-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint-fix, npm run format

ci: removed try to build with node
  .github/workflows/build.yml
Due: none

docs: fix typo in installation
  README.md
Due: none

refactor: rename defaultVotHost -> defaultVOTHost
  scripts/updateConfig.ts
  src/config.ts
  src/resources/schema.ts
  src/types/config.ts
Due: npm run lint-fix

chore: bump depends
  bun.lockb
  package.json
Due: npm run format

docs: added supported website changes
  changelog.md
Due: none

docs: added notice
  README.md
Due: none

chore: added runtime useragent for -v
  src/resources/messages.ts
Due: npm run lint-fix

chore: changed default output dir to working dir
  src/client.ts
Due: npm run lint-fix

chore: bump depends
  bun.lock
  bun.lockb
  package.json
Due: npm run format

docs: removed info about wip download with video
  README.md
Due: none

docs: updated changelog
  changelog.md
Due: none

chore: removed unused
  package-lock.json
  src/utils/utils.ts
Due: npm run lint-fix, npm run format

ci: some fixes
  .github/workflows/compile.yml
  .github/workflows/release.yml
Due: none

chore: bump vot.js to 2.3.5
  bun.lock
  changelog.md
  package.json
Due: npm run format

docs: updated readme
  README.md
  img/example.png
Due: none

chore: bump depends
  bun.lock
  package.json
Due: npm run format

chore: updated changelog
  changelog.md
Due: none

chore: removed docs ignore
  eslint.config.js
Due: npm run lint-fix

fix: navigator is not defined for old versions of node
  src/resources/messages.ts
Due: npm run lint-fix

feat: custom script
  scripts/translate_subs.ps1
Due: none

docs: scripts readme update
  scripts/README.md
Due: none

docs: readme update
  README.md
Due: none

Fix: Pass proxy to download requests
  src/download.js
  src/index.js
Due: npm run lint-fix

feat: added lively translate (wayback to 2025)
  src/client.ts
  src/resources/messages.ts
  src/resources/schema.ts
  src/types/schema.ts
  src/utils/utils.ts
Due: npm run lint-fix

chore: updated update config logic (wayback to 2025)
  scripts/codeGen.ts
  scripts/updateConfig.ts
  src/config.ts
Due: npm run lint-fix

chore: some other updates i guess (wayback to 2025)
  .github/workflows/compile.yml
  .gitignore
  .oxlintignore
  .oxlintrc.json
  README.md
  bun.lock
  changelog.md
  eslint.config.js
  package.json
Due: npm run lint-fix, npm run format

chore: migrate eslint/prettier/husky -> oxlint/oxfmt/lefthook
  .husky/pre-commit
  .oxfmtrc.json
  .oxlintrc.json
  bun.lock
  lefthook.yml
  package.json
  scripts/codeGen.ts
  scripts/updateConfig.ts
  src/config.ts
Due: npm run lint-fix, npm run format

chore: init ai (dive into 2026)
  .opencode/opencode.jsonc
  AGENTS.md
Due: none

fix: improve CLI output and error handling
  scripts/codeGen.ts
  scripts/updateConfig.ts
  src/args.ts
  src/client.ts
  src/config.ts
  src/index.ts
  src/resources/phrases.ts
  src/types/args.ts
  src/types/config.ts
  src/types/schema.ts
Due: npm run lint-fix

docs: added git/writing style/commit format sections
  AGENTS.md
Due: none

feat: add json output mode
  README.md
  UPGRADING.md
  changelog.md
  src/client.ts
  src/index.ts
  src/resources/messages.ts
  src/resources/schema.ts
  src/types/schema.ts
Due: npm run lint-fix

chore: added insertFinalNewline rule for oxfmt
  .oxfmtrc.json
Due: npm run format

ci: fix invalid version
  .github/workflows/compile.yml
Due: none

fix(ci): archive compiled build files
  .github/workflows/compile.yml
Due: none

docs: improve install instructions
  README.md
Due: none

ci: removed uild_packages section
  .github/workflows/compile.yml
Due: none

feat: added optional yt-dlp for extract video title
  README.md
  bun.lock
  package.json
  src/client.ts
  src/resources/messages.ts
  src/resources/schema.ts
  src/types/schema.ts
Due: npm run lint-fix, npm run format

docs: added info about no-title arg
  UPGRADING.md
  changelog.md
Due: none

docs: updated availables features
  README-EN.md
  README.md
  changelog.md
Due: none

Path conditions:
  npm run lint-fix: any of: *.{cjs,js,ts,html}
  npm run format: any of: *.{css,scss,json}
