Repository FOSWLY/vot-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint-fix, npm run format

version 1.1.1rc -> 1.2.0, added new dev depends
  package-lock.json
  package.json
Due: npm run format

1.2.0 changelog
  changelog.md
Due: none

added test media folder to ignore
  .gitignore
Due: none

actualized availabled tts
  src/config/constants.js
Due: npm run lint-fix

added rumble & eporner support
  src/config/sites.js
Due: npm run lint-fix

added rumble & eporner support to func
  src/utils/getVideoId.js
Due: npm run lint-fix

added function to clear file names (fix #4)
  src/utils/utils.js
Due: npm run lint-fix

actualized protobuf by main repo
  src/yandexProtobuf.js
Due: npm run lint-fix

added subtitles support
  src/index.js
Due: npm run lint-fix

added docs for --subs
  README-EN.md
  README.md
Due: none

additional fix #4
  src/utils/utils.js
Due: npm run lint-fix

1.2.1
  changelog.md
  package-lock.json
  package.json
Due: npm run format

updated version
  package-lock.json
  package.json
Due: npm run format

added proxy support
  README-EN.md
  README.md
  src/proxy.js
Due: npm run lint-fix

added new supported websites
  src/config/alternativeUrls.js
  src/config/config.js
  src/config/sites.js
  src/index.js
  src/translateVideo.js
  src/utils/coursehunter.js
  src/utils/getVideoId.js
  src/utils/validator.js
  src/yandexRawRequest.js
  src/yandexRequests.js
Due: npm run lint-fix

add changelog
  changelog.md
Due: none

removed /s/ and /d/ from yandex disk
  changelog.md
Due: none

fix single file download
  scripts/translate.ps1
Due: none

Add files via upload
  scripts/translate.ps1
Due: none

added support shortlink yadi.sk
  changelog.md
  package-lock.json
  package.json
  src/config/sites.js
Due: npm run lint-fix, npm run format

Update README.md
  README.md
Due: none

Update README-EN.md
  README-EN.md
Due: none

version bump
  package-lock.json
  package.json
Due: npm run format

added support YouTube Shorts, youtu.be, Google Drive
  src/config/sites.js
  src/utils/getVideoId.js
Due: npm run lint-fix

updated from main repo
  src/yandexProtobuf.js
Due: npm run lint-fix

added --output-file argument
  README-EN.md
  README.md
  src/index.js
Due: npm run lint-fix

1.4.0 changelog
  changelog.md
Due: none

1.4.1
  changelog.md
  package-lock.json
  package.json
  src/config/config.js
  src/index.js
Due: npm run lint-fix, npm run format

added /live/ support for YouTube (#32)
  .husky/pre-commit
  bun.lockb
  changelog.md
  package.json
  src/config/config.js
  src/index.js
  src/utils/getVideoId.js
Due: npm run lint-fix, npm run format

feat: add converter json to srt
  .babelrc
  .eslintrc.cjs
  __tests__/utils/utils.test.js
  package.json
  src/download.js
  src/index.js
  src/utils/utils.js
Due: npm run lint-fix, npm run format

refactor format
  src/index.js
Due: npm run lint-fix

some edits after of #33
  README-EN.md
  README.md
  __tests__/utils/utils.test.js
  bun.lockb
  changelog.md
  package-lock.json
  package.json
Due: npm run lint-fix, npm run format

Обновление функций
  __tests__/utils/utils.test.js
  package.json
  src/utils/getSignature.js
  src/utils/getUUID.js
  src/utils/getVideoId.js
  src/utils/utils.js
Due: npm run lint-fix, npm run format

support https://disk.yandex.ru/d/
  src/utils/getVideoId.js
Due: npm run lint-fix

add link on google colab version
  README-EN.md
  README.md
Due: none

Path conditions:
  npm run lint-fix: any of: *.{cjs,js,ts,html}
  npm run format: any of: *.{css,scss,json}
